{% extends 'base.html.twig' %}

{% block title %}Rooms index{% endblock %}

{% block body %}
    <h1>Rooms index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Room_name</th>
                <th>Room_price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.RoomName }}</td>
                <td>{{ room.RoomPrice }}</td>
                <td>
                    <a href="{{ path('rooms_show', {'id': room.id}) }}">show</a>
                    <a href="{{ path('rooms_edit', {'id': room.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('rooms_new') }}">Create new</a>
{% endblock %}
