{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
    <h1>Season index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Begin_date</th>
                <th>End_date</th>
                <th>Season_name</th>
                <th>Discount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.id }}</td>
                <td>{{ season.BeginDate ? season.BeginDate|date('Y-m-d') : '' }}</td>
                <td>{{ season.EndDate ? season.EndDate|date('Y-m-d') : '' }}</td>
                <td>{{ season.SeasonName }}</td>
                <td>{{ season.Discount }}</td>
                <td>
                    <a href="{{ path('season_show', {'id': season.id}) }}">show</a>
                    <a href="{{ path('season_edit', {'id': season.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('season_new') }}">Create new</a>
{% endblock %}
