{% extends 'base.html.twig' %}

{% block title %}Extra index{% endblock %}

{% block body %}
    <h1>Extra index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for extra in extras %}
            <tr>
                <td>{{ extra.id }}</td>
                <td>{{ extra.Description }}</td>
                <td>{{ extra.Image }}</td>
                <td>
                    <a href="{{ path('extra_show', {'id': extra.id}) }}">show</a>
                    <a href="{{ path('extra_edit', {'id': extra.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('extra_new') }}">Create new</a>
{% endblock %}
